body {
    background-color: #242729;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.icon{
    width: 30px;
    height: 30px;
}

.footer {
    background-color: #414344;
    text-align: center;
}

.footer-text p {
    text-align: center;
    padding: 1em;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icons img {
    width: 5vh;
    height: 5vh;
    margin: 1em 2em;
}




@media (min-width: 1024px) {
    .social-icons img {
        width: 7vh;
        height: 7vh;
    }

}